/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"), url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.contonier {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1110px;
  width: 100%;
}

.header {
  background-color: #014E56;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 0;
}
.header__text {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header__text h1 {
  color: #fff;
  font-size: 40px;
  font-family: "livvik";
  font-style: normal;
}
.header__text ul {
  display: flex;
  gap: 40px;
}
.header__text ul a {
  font-family: "Livvic";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  opacity: 0.7;
}

.header__btn {
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 10px 32px;
  background-color: #014E56;
}
.header__btn a {
  color: #fff;
}
.header__btn:hover {
  background-color: #fff;
  border: 2px solid chartreuse;
}
.header__btn:hover a {
  color: #000;
}
.header__btn:active {
  background-color: #fff;
  color: #0e41e9;
  border: 2px solid darkorange;
}

@media screen and (max-width: 550px) {
  .header__intro ul {
    display: none;
  }
  .header__span {
    display: inline-block;
  }
  .header__btn {
    display: none;
  }
}
.intro-section {
  background-color: #014E56;
}

.intro__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 124px 0;
}

.intro__title h1 {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 54px;
  max-width: 445px;
}
.intro__title p {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  padding: 32px 0 16px;
}

.intro__navbar {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.intro__seting {
  display: flex;
  align-items: center;
  row-gap: 32px;
}
.intro__seting img {
  border: 2px solid transparent;
}
.intro__seting img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}
.intro__seting img:active {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}
.intro__seting ul {
  margin-left: 23px;
}
.intro__seting ul p {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 445px;
}

.intro__input {
  display: flex;
  flex-direction: column;
}
.intro__input input {
  margin-top: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  padding: 0 81px 17px 14px;
  width: 540px;
}
.intro__input .in_ip {
  padding: 0 81px 58px 14px;
}
.intro__input .intro_btn {
  cursor: pointer;
  margin-top: 24px;
  width: 123px;
  padding: 10px 32px;
  border-radius: 24px;
  border: none;
  font-family: "Livvic";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
}

@media screen and (max-width: 768px) {
  .intro__box {
    padding: 0 133px 328px 133px;
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro__title h1 {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 481px) {
  .intro__seting {
    margin-top: 48px;
    flex-direction: column;
    align-items: center;
  }
  .intro__seting ul {
    align-items: center;
    text-align: center;
  }
  .intro__seting ul li {
    padding: 0;
  }
}
.footer {
  background-color: #004047;
}
.footer__wrapper {
  max-width: 100%;
  padding: 48px 0;
  display: flex;
  font-family: "Livvic";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.footer .title__List {
  display: flex;
  gap: 40px;
}
.footer .title__List a {
  color: #fff;
}
.footer__text {
  margin-left: 125px;
  font-family: "Livvic";
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 340px;
}
.footer__img img {
  margin-bottom: 50px;
  width: 124px;
}/*# sourceMappingURL=my_team.css.map */