.medium-section {
    background-color: $footer-bg;
    
    .medium__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
            padding: 0 0 70px;
        }
    }
    
    .medium__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 0 0 151px;
        
        li {
            font-family: 'Livvic';
            font-style: normal;
            color: #FFFFFF;
            font-size: 25px;
            font-weight: 700;
        }
    }
    
    .medium_span {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .medium-section {
        .medium__item {
            gap: 30px;
            
        }
    }
    
}
@media screen and (max-width: 950px) {
    .medium-section {
        .medium__item>li {
            font-size: 18px;
        }
    }
    
}
@media screen and (max-width: 950px) {
    .medium-section {
        .medium__box>h1 {
            padding: 0 0 50px;    
        }
    }
    
}
@media screen and (max-width: 768px) {
    .medium-section {
        .medium_span  {
            display: block;
            
        }
        .madium_img{
            display: none;
        }
    }
    
}
@media screen and (max-width: 730px) {
    .medium-section {
        .medium__item {
            flex-direction: column;
            padding: 0 0 20px;
        }
    }
    
}
@media screen and (max-width: 950px) {
    .medium-section {
        .medium__box>h1 {
            font-size: 40px;    
        }
    }
    
}
@media screen and (max-width: 730px) {
    .medium-section {
        .medium__item>li {
           font-size: 33px; 
        }
    }
    
}